/* Class for radio <input> elements represented as buttons.
 * Use case: Neutralizes styles for radio checkbox <input>
 *           since they're displayed as buttons with the accompanying <label>.
 */
 .radio-button-input {
   &--neutralize {
    border: 0;
    margin: 0;
    background: 0;
    appearance: none;
   }

   /* Label element corresponding to the radio button input */
   &__label {
     &:focus-within {
       outline: lightgreen solid medium;
     }
   }
    
  }

/* Contains a group of button or button-like elements.
 * Use case: 
 */
.button-group, .radio-button-group, .linear-group {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;

  @media only screen and (max-width: 480px) {
    &>*:not(:last-child) {
      margin-bottom: 1rem;
   }
  }

  *:not(:last-child) {
    margin-right: 0rem;
  }

  &--vertical {
    flex-direction: column;
    &>*:not(:last-child) {
       margin-bottom: 1rem;
    }
  }

}

/* Border shapes of the radio button group */
.radio-button-group {
  & .button {
    border-radius: 0%;
    &:first-of-type {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:not(:first-of-type) {
      border-left: none;
    }
    &:last-of-type {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}