// Prmary state colors
$primary: hsl(202, 95%, 52%);
$hover: hsl(201, 88%, 36%);
$disabled: hsla(202, 95%, 52%, 0.5);
$activated: hsl(192, 100%, 62%);
// Secondary state colors
$secondary: hsl(12, 85%, 60%);


.button {
    display: flex;
  
    /* Space elements inside of button */
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    /* Button text typography */
    font-size: 15px;
    font-weight: 500;
    color: white;
  
    /* Internal block size */
    min-height: 2rem;
    padding: 1rem 2rem;
    
    /* Block decoration */
    background-color: $primary;
    border: none;
    border-radius: 4px;
  
    cursor: pointer;

    &:visited {
      /* Neutralize text color change on visited links */
      color: white;
    }
  
    /* Primary button interactive states */
    &:focus {

    }

    &:hover {
      background-color: $hover;
    }

    &--disabled {
      background-color: $disabled;
      cursor: not-allowed;
  
      &:hover, &:visited {
        @extend .button--disabled;
      }
  
    }

    &--activated, &--activated:hover {
      background-color: $activated;
    }

    /* Outline primary variant interactive states */
    &--outline {
      color: $primary;
      border: 1px solid $primary;
      background: transparent;

      &:focus {

      }

      &:hover {
        background-color: $hover;
        color: white;
      }

      &--disabled {
        background-color: $disabled;
        color: hsla(0, 0%, 0%, 0.5);
      }

      &--activated, &--activated:hover {
        background-color: $activated;
        color: white;
        border: 1px solid $activated;
      }
    }
  
    

    &--secondary {
        background-color: transparent;
        border: 1px solid $secondary;

        color: black;

        &:hover, &:active {
            background-color: $secondary;
            color: white;
        }
    }
  
    /* reference to Font Awesome icons */
    svg {
      margin-right: 1rem;
    }
  
}