.editor {
    background-color: inherit;
    font-family: inherit;
    font-size: 1rem;
    cursor: text;
    flex-grow: 1;

    .p {
        line-height: 1.5em;
    }

    &__options-bar {
        margin-bottom: 0.5rem;
    }

    &__option {
        font-size: 1rem;
        padding: 0.5rem;

        background-color: white;

        &--is-active {
            background-color: green;
        }
    }
}

.editor-text {
    &--p {
        line-height: 1.5em;
        padding-bottom: 0.5em;
    }
    &--header-one {
        line-height: 1.2em;
        padding-bottom: 0.25em;
    }
}