.writing-results, .article {
    display: grid;
    @media screen and (min-width: 481px) {
        grid-template-columns: 3fr 1fr;
        column-gap: 0.5rem;
    }
    
    &__main {

    }
    &__sidebar {
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            label {
                font-weight: 500;
                margin-bottom: 0.5rem;
            }
            & > * {
                margin-bottom: 1rem;
            }
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
}