html, * {
  box-sizing: border-box;
}





/* Typography */

html, body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.background-text {
  color: hsla(0, 0%, 40%, 1)
}



/* Page layout */

.App {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Placeholder for upper navbar */
  margin-top: 2rem;
}

.page-section {

  display: flex;
  flex-direction: column;
  
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &--full-width {
    @extend .page-section;
    align-self: stretch;
  }


}





/* Links and buttons */

a {
 text-decoration: none;
}

.button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  color: white;
  font-weight: 700;

  min-width: 5rem;
  min-height: 2rem;
  padding: 1rem;
  background-color: gray;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }

  input {
    &:checked {

    }
  }

  /* reference to Font Awesome icons */
  svg {
    margin-right: 1rem;
  }

}


.button-group, .radio-button-group {
  display: flex;
  justify-content: space-evenly;

  .button:not(:last-child) {
    margin-right: 2rem;
  }

}





/* Labels */

.counters {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
      display: inline-block;
      text-align: center;

      font-size: 1.2rem;

      &--completed {
        font-weight: bold;
        color: green;
      }

      &:not(:last-child) {
          margin-bottom: 0.25rem;
      }
  }
}



/* Text inputs */
.text-input {
  display: inline-block;
  padding: 0.5rem;
  min-width: 100%;

  font-size: 1rem;
  
  &--full-width {
    @extend .text-input;
    min-width: 100%;
  }
}


.written-text {
  white-space: pre-wrap;
}