/* 
 * Global styles for lightning write app
 *
 * Table of contents:
 * 
 * Utilities
 * Typography
 * Page layout
 * Links and buttons
 * Labels
 * Inputs
 */

@import './styles/typography.scss';
@import './components/button/button.scss';
@import './components/radio-button-group/RadioButtonGroup.scss';


html, * {
  box-sizing: border-box;
}

/* ----- Utilities -----*/
/* Display tools */

/* Set element display attribute */
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}


/* Alignment tools */

/* Set flex-direction to column
 * Use case: page sections that move vertically
 */

.flex-column {
   flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* Align self at end
 * Use case: self-alignment (in a flexbox container, usually a page section)
 */
.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-stretch {
  align-self: stretch;
}

/* Decorative seperator */
.section-divider {
  border-top: 1px solid gray;
  padding-bottom: 2rem;
}

/* Max-width */
.mw-100 {
  min-width: 100%;
}


/* ----- Page layout ----- */

/* Basic page section */
.page-section {
  margin-bottom: 3rem;
  &.flex {
    /* Spacing */
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }
  

  &:last-child {
    margin-bottom: 0;
  }

  /* Variations */

  /* Extends length of page section to max width.
   * Use case: certain inputs that would look awkward at non-full width
   */
  & .full-width {
    align-self: stretch;
  }

  /* Applies a card background.
   * Use case: signals sections with content that require user input
   */
  & .card {
    background-color: white;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
    padding: 2rem;
  }

  & .internal-padding {
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  
}

/* ----- Links and buttons ----- */

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

/* Contains a group of a label and input element.
 * Use case: creating forms in larger section containers such as
 * page sections.
*/ 
.input-container {
  // No styles — exists purely as a container
  // to group labels and input elements
}

.linear-group {
  display: inline-flex;
  flex-direction: row;
  &>:not(:last-child) {
    margin-right: 1rem;
  }
}

/* ----- Forms ----- */

/* 
 *  Basic form styling.
 */

 .form {
   display: flex;
   flex-direction: column;
   &>*:not(:last-child) {
    margin-bottom: 2rem;
   }
 }

/*
 * Reset padding on fieldset elements
 */
fieldset {
  border: none;
  padding: 0;
}


/* ----- Labels ----- */

/* Display: stat counter data labels */

.counters {
  text-align: center;

  .title {
      font-size: 1.2rem;
  }

  &__label {
      display: inline-block;
      font-size: 1.8rem;

      &--completed {
        font-weight: bold;
        color: green;
      }

      &:not(:last-child) {
          margin-bottom: 0.25rem;
      }
  }
}



/* ----- Text inputs ----- */
.text-input {
  display: inline-block;
  // External block spacing

  // Internal block spacing
  padding: 1rem;
  // min-width: 100%;

  // Block decoration
  background-color: hsla(0, 0%, 90%, 1);
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  // Typography
  font-size: 1rem;

  transition: background-color 0.2s ease-out;

  &:hover, &:active {
    background-color: hsla(0, 0%, 85%, 1);
  }

  &:focus {
    border-bottom: 2px solid blue;
    outline: none;
  }
}

.input-label, .data-label {
  /* External spacing. */
  display: block; // This allows margin to work properly on elements with the <label> tag.
  padding-bottom: 0.5rem;
  font-weight: 500;
}


.written-text {
  white-space: pre-wrap;
}