.textbox {
    /* Element */
    min-width: 100%;
    padding: 1.5rem;

    border: 4px solid transparent;
    border-radius: 2px;

    /* Content */
    font-family: inherit;
    color: hsla(0, 0%, 0%, 0.80);
    font-size: 1.2rem;
    line-height: 1.5;

    transition: border 0.3s ease-out;
}

.stat-display {
    display: flex;
    justify-content: space-evenly;
}

